* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;

  min-height: 0;
  border: none;
}

#workspaces,
#submap,
#tray,
#language,
#wireplumber,
#custom-notification,
#custom-clock {
  background: @module_bg;

  margin: 0.3em 0.2em;
  padding: 0 0.75em;

  border-radius: 0.6em;
}

#workspaces {
  padding: 0 0.3em;
  border-radius: 999px;
}

#workspaces button {
  min-width: 1.8em;

  padding: 0 0.5em;

  border-radius: 0.45em;
}

/* ==========================================
 * Global
 * ========================================== */
window#waybar {
  background: @bar_bg;
  color: @module_fg;
}

/* ==========================================
 * Modules
 * ========================================== */

#workspaces,
#submap,
#tray,
#language,
#wireplumber,
#custom-notification,
#custom-clock {
  background: @module_bg;
}

#workspaces button {
  min-width: 1.8em;
  min-height: 1.8em;

  padding: 0;
  margin: 0 0.1em;

  background: transparent;
  color: @muted;

  border-radius: 999px;

  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  background: @accent;
  color: @accent_fg;
}

#workspaces button.special {
  color: @blue;
}

#workspaces button.special.active {
  background: @blue;
  color: @crust;
}

#tray,
#language,
#wireplumber,
#custom-clock {
  color: @module_fg;
}

#wireplumber.muted {
  color: @muted;
}

#submap {
  background: @accent;
  color: @accent_fg;

  font-weight: bold;
}
