@import "themes/current.css";
@import "scale.css";

/* ==========================================
 * Global
 * ========================================== */
window#waybar {
    background: @bar_bg;
    color: @module_fg;
}


/* ==========================================
 * Modules
 * ========================================== */

#workspaces,
#submap,
#tray,
#language,
#wireplumber,
#custom-notification,
#custom-clock {
    background: @module_bg;
}

#workspaces button {
    min-width: 1.8em;
    min-height: 1.8em;

    padding: 0;
    margin: 0 0.1em;

    background: transparent;
    color: @muted;

    border-radius: 999px;

    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    background: @accent;
    color: @accent_fg;
}

#workspaces button.special {
    color: @blue;
}

#workspaces button.special.active {
    background: @blue;
    color: @crust;
}

#tray,
#language,
#wireplumber,
#custom-clock {
    color: @module_fg;
}

#wireplumber.muted {
    color: @muted;
}

#submap {
    background: @accent;
    color: @accent_fg;

    font-weight: bold;
}
