configuration {
    modes: [ combi ];
    combi-modes: [ window, drun, run ];

    show-icons: true;
    matching: "fuzzy";
    sorting-method: "fzf";

    font: "JetBrainsMono Nerd Font 13";
}

@theme "theme.rasi"
