configuration {
    modi: "drun";

    show-icons: true;
    display-drun: "Search";
    drun-display-format: "{name}";

    matching: "fuzzy";
    sorting-method: "fzf";

    font: "JetBrainsMono Nerd Font 13";
}

@theme "theme.rasi"
