return {
  -- Add only settings that differ on this machine.

  -- monitor = {
  --   output = "eDP-1",
  --   scale = "1.25",
  -- },

  -- apps = {
  --   terminal = "ghostty",
  --   notes = "obsidian",
  --   system_monitor = "ghostty -e btop",
  -- },
}
